<div *ngIf="list" class="details">
  <h5>
    Chi tiết
  </h5>
  <div>
    <!-- <span>Thể loại:</span> -->
    <button type="button" class="btn badge btn-primary btn-sm " (click)="goBack()">
      back
    </button>
    <span class="badge text-bg-success" *ngIf="this.list.category">{{Categories[this.list.category].label}}</span>
    <span class="badge text-bg-light">{{list.data_pubblic}}</span>
  </div>
  <h3>
    {{list.title}}

  </h3>
  <h5>
    {{list.des}}
  </h5>
  <img [src]="list.thumbs" alt="">
  <div>
    {{list.detail}}
  </div>

</div>
