<div class="list-group">
  <a routerLink="/list" routerLinkActive="active" class="list-group-item list-group-item-action" aria-current="true">
    List
  </a>
  <a routerLink="/new" routerLinkActive="active" class="list-group-item list-group-item-action">
    New
  </a>
  <a routerLink="/Search" routerLinkActive="active" class="list-group-item list-group-item-action">
    Search
  </a>
  <a routerLink="/edit" routerLinkActive="active" class="list-group-item list-group-item-action">
    Edit
  </a>
</div>
