<h5>
  List Blogs
</h5>
<div class="row">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">STT</th>
          <th scope="col">ID</th>
          <th scope="col" style="width: 300px;">Tin</th>
          <th scope="col">Loại</th>
          <th scope="col">Trạng thái</th>
          <th scope="col">Vị trí</th>
          <th scope="col">Ngày pubblic</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of lists | paginate: { itemsPerPage: 10, currentPage: page };index as i">
          <td>
            {{i+1}}
          </td>
          <td>
            {{item.id}}
          </td>
          <td>
            <a routerLink="/chitiet/{{item.id}}" style="text-decoration: none;">
              {{item.title}}
            </a>
          </td>
          <td>
            <span class="badge rounded-pill text-bg-secondary">{{Categories[item.category!].label}}</span>
            <!-- {{item.category}} -->
          </td>
          <td>
            <!-- {{item.public}} -->
            <span class="badge rounded-pill text-bg-success" *ngIf="item.public == true; else elseBlock">
              {{Public[0].label}}
            </span>
            <ng-template #elseBlock>
              <span class="badge rounded-pill text-bg-danger">{{Public[1].label}}</span>
            </ng-template>
          </td>
          <td>
            <span *ngFor="let item of item.position" class="badge rounded-pill text-bg-light">
              <!-- {{item}} -->
              {{Positions[item].label}}
            </span>
          </td>
          <td>
            {{item.data_pubblic}}
          </td>

          <td>
            <a routerLink="/edit2/{{item.id}}" style="text-decoration: none;" class="btn btn-outline-primary btn-sm">
              Edit
            </a>
          </td>
          <td>
            <button (click)="delete(item.id)" class="btn btn-outline-danger btn-sm">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- (pageChange)="page = $event" -->
    <pagination-controls previousLabel="Trang trước" nextLabel="Trang sau" (pageChange)="page = $event" class="float-right"></pagination-controls>
  </div>
</div>
