<form #employeeForm="ngForm" action="">
  <!-- (ngSubmit)="onSubmit()" -->
<div *ngIf="list" class="details">
  <h5>
    <button type="button" class="btn btn-light btn-sm" (click)="goBack()">
      back
    </button>
    <span *ngIf="list ; else elseBlock">Chỉnh sửa:</span>
    <ng-template #elseBlock>Thêm mới:</ng-template>

  </h5>

  <div class="form-group">
    <label for="title">Tiêu đề</label>
    <input type="text" name="title" class="form-control" id="title" [placeholder]="'Tiêu đề'" [(ngModel)]="list.title"[ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
    <label for="des">Mô tả ngắn</label>
    <input type="text" name="des" class="form-control" id="des" [placeholder]="'Mô tả ngắn'" [(ngModel)]="list.des"[ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
    <label for="detail" class="form-label">Chi tiết</label>
    <textarea class="form-control" id="detail" rows="3" [(ngModel)]="list.detail"[ngModelOptions]="{standalone: true}">{{list.detail}}</textarea>
  </div>
  <div class="form-group">
    <label for="formFile" class="form-label">Hình ảnh</label>
    <input class="form-control" type="text" id="formFile" [(ngModel)]="list.thumbs" [ngModelOptions]="{standalone: true}">
  </div>

  <div class="form-group" #itemselect>
    <label class="form-label">Loại</label>
    <select class="form-select" aria-label="" (change)="selectOption($any($event.target).value)">
      <option [value]="itemselect.id" *ngFor="let itemselect of Categories" [selected]="list.category == itemselect.id?'selected':''">
        {{itemselect.label}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label class="form-label">Vị trí</label>
    <div class="form-check" *ngFor="let item of Positions;let i=index">
      <input class="form-check-input" type="checkbox" [value]="item.id" id="vitri{{item.id}}" (change)="selectVitri($event)" [checked]="checkValues(item.id) == true ? true:false" >
      <label class="form-check-label" for="vitri{{item.id}}">
        {{item.label}}
      </label>
    </div>
  </div>
  <div class="form-group">
    <label class="form-label">Public</label>
    <div class="form-check" *ngFor="let item of Public; let i=index">
      <input class="form-check-input" [value]="item.id" type="radio" name="public" id="public{{item.id}}" [checked]="i == a" (change)="onRadioChange($event)" >
      <label class="form-check-label" for="public{{item.id}}">
        {{item.label}}
      </label>
    </div>
  </div>

  <div class="form-group">
    <label for="datepublic">Date Public</label>
    <input type="date" name="datepublic" class="form-control" id="datepublic" [placeholder]="'Date Public'"
      [(ngModel)]="list.data_pubblic">
  </div>
  <div class="row justify-content-center my-3">
    <div class="col text-center">
      <button type="submit" class="btn btn-success" (click)="save()">Supmit</button>
      <button type="button" class="btn btn-primary" (click)="employeeForm.reset()">Clear</button>
    </div>
  </div>
</div>
</form>
